/* custom.css */

/* Palette de couleurs Spotify */
:root {
    --spotify-green: #1DB954;
    --spotify-dark: #191414;
    --spotify-light: #FFFFFF;
    --spotify-grey: #B3B3B3;
    --navbar-bg: #242424;
}

/* Réinitialisation sélective des marges et paddings */
body, h1, h2, h3, h4, h5, h6, p, ul, li, a, img, button, select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--spotify-dark);
    color: var(--spotify-light);
    font-family: 'Roboto', sans-serif;
}

/* Styles de la Barre de Navigation */
.navbar-custom {
    background-color: var(--navbar-bg);
    z-index: 1030; /* S'assurer que la navbar reste au-dessus des autres éléments */
}

/* Titres */
h2 {
    font-size: 2rem;
    color: var(--spotify-green);
    margin-top: 100px;
    margin-bottom: 10px;
}

/* Boutons */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

#login-button {
    background-color: var(--spotify-green);
    color: var(--spotify-dark);
}

#login-button:hover {
    background-color: #1ed760;
    transform: scale(1.05);
}

#logout-button {
    background-color: #e74c3c;
    color: var(--spotify-light);
}

#logout-button:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

/* Graphes D3.js */
.graph-container {
    background-color: var(--spotify-dark);
    border: 2px solid var(--spotify-green);
    border-radius: 10px;
    padding: 10px;
    height: 600px; /* Ajustez la hauteur selon vos besoins */
}

.graph-container svg {
    width: 100%;
    height: 100%;
}

/* Responsivité des Images */
@media (max-width: 768px) {
    /* #vinyle-image removed */
    .graph-container {
        height: 200px;
    }
}

/* Tooltip */
.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 50px;
    padding: 5px;
    font: 12px sans-serif;
    background: rgba(0,0,0,0.6);
    color: #fff;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

/* Ajuster la hauteur du conteneur du Bubble Chart */
#genre-bubble-chart {
    height: 600px; /* Ajustez selon vos besoins */
}

/* Styles pour le Menu Utilisateur */
#user-select {
    width: 200px;
    margin-right: 10px;
}

#add-user-button {
    background-color: #1DB954;
    color: #fff;
}

#add-user-button:hover {
    background-color: #1ed760;
    transform: scale(1.05);
}
